<%- include ('../partials/header.ejs')%>

    <body>
        <%- include ('../partials/navbar.ejs')%>
            <h1>Bem-vindo ao <%= nome %>
            </h1>
            <p>Esta é uma aplicação de exemplo utilizando EJS como template engine.</p>

            <% if (simulandoErro) { %>
                <p>Simulando um erro para teste.</p>
                <% } else { %>
                    <p>Não há erros simulados.</p>
                    <% } %>

                        <% nomes.forEach(nome=> { %>
                            <p>Nome: <%= nome.nome %> / Sobrenome: <%= nome.sobrenome %>
                            </p>
                            <% }) %>

                                <a href="#" class="btn btn-primary">Perguntas</a>


    </body>
    <%- include ('../partials/footer.ejs')%>